*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    background-image: url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'League Spartan', sans-serif;
}
body{
    padding: 80px 120px 0;
}
.head-ratings{
    display: flex;
}
@media (max-width: 600px) {
    html{
        margin: 15% 0 !important;
        padding: 0 !important;
        background-image: url(../images/bg-pattern-top-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    body{
        padding: 0 5px !important;
    }
    .head-ratings{
        flex-direction: column;
        text-align: center;
    }
    .head{
        width: 90% !important;
    }
    .head h1{
        width: 80% !important;
        margin: 0 auto !important;
        font-size: 25pt !important;
    }
    .head p{
        color: rgb(172, 158, 171);
        margin: 25px auto 15px !important;
    }
    .ratings{
        width: 90% !important;
        margin: 10px 0 !important;
    }
    .img{
        margin-bottom: 5px;
    }
    .star-bucks{
        width: 100% !important;
        height: 65px !important;
        margin: 15px auto !important;
        border-radius: 10px;
        padding: 10px !important;
        display: grid !important;
        align-items: center;
        text-align: center;
    }
    .star1{
        margin: 10px 5% !important;
    }
    .star2{
        margin: 10px 5% !important;
    }
    .star3{
        margin: 10px 5% !important;
    }
    .buyers{
        flex-direction: column;
        margin: 10px 0 !important;
    }
    .b{
        width: 90% !important;
        margin: 10px auto !important;
    }
}
.head{
    width: 34%;
    margin: 0 20px;
}
.head h1{
    color: hsl(300, 43%, 22%);
    font-size: 30pt;
    width: 80%;
}
.head p{
    color: rgb(158, 172, 169);
    margin-top: 25px;
    line-height: 1.4em;
}
.ratings{
    width: 40%;
    margin: 20px 0 0 21%;
}
.star-bucks{
    display: flex;
    width: 390px;
    height: 50px;
    padding: 15px 10px 10px 20px;
    margin: 20px 20px 20px 50px;
    border-radius: 5px;
    background-color: rgba(180, 174, 180, 0.2);
}
.star-bucks h2{
    font-weight: bold;
    font-size: 18px;
    color: hsl(300, 43%, 22%);
}
.star1{
    margin-left: -10px;
}
.star2{
    margin-left: 20px;
}
.img{
    margin-right: 20px;
}
.buyers{
    display: flex;
    margin: 30px auto 20px;
}
.buyer-card{
    width: 29%;
    height: 200px;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    color: white;
}
.buyer-card2{
    width: 29%;
    height: 200px;
    padding: 30px;
    margin: 45px auto 10px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    color: white;
}
.buyer-card3{
    width: 29%;
    height: 200px;
    padding: 30px;
    margin: 60px auto 10px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    color: white;
}
.b div{
    display: flex;
}
.b div .name{
    margin: 5px 0 0 15px;
    flex-direction: column;
}
.name span{
    color: hsl(333, 80%, 67%);
}
.b img{
    border-radius: 50%;
}
.b h4{
    margin-bottom: 5px;
}
.b p{
    margin: 15px 0 0;
    line-height: 1.2em;
}
