@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Poppins&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    font-family: 'League Spartan', sans-serif;
    background-image: url(../images/bg-pattern-top-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    margin: 15% 0;
}


.head-ratings{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.head{
    max-width: 400px;
    margin: 0 auto;
}
.head h1{
    width: 90%;
    margin: 0 auto;
    font-size: 2.25em;
}
.head p{
    color: rgb(172, 158, 171);
    margin: 25px auto 15px;
    padding: 0 15px;
}
.ratings{
    width: 90%;
    display: flex; 
    flex-direction: column;
    margin: 10px auto;
}
.star-bucks{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border-radius: 5px;
    background-color: rgba(180, 174, 180, 0.2);
}
.star-bucks .img img{
    height: 15px;
}
.star-bucks h2{
    font-weight: bold;
    font-size: 18px;
    color: hsl(300, 43%, 22%);
}
.img{
    margin-bottom: 5px;
}
.img img{
    animation: bounce 1s;
}
.buyers{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.b{
    width: 90%;
    padding: 30px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    color: white;
}

.b div{
    display: flex;
}
.b div .name{
    margin: 5px 0 0 15px;
    flex-direction: column;
}
.name span{
    color: hsl(333, 80%, 67%);
}
.b img{
    border-radius: 50%;
}
.b h4{
    margin-bottom: 5px;
}
.b p{
    margin: 15px 0 0;
    line-height: 1.2em;
}


@media (min-width: 851px) {
    body{
        margin: 60px 0 0;
    }
    main{
        padding: 0 40px;
    }
    .head-ratings{
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto 40px;
    }
    .head{
        margin: 0 0 0 20px;
        text-align: left;
    }
    .head h1{
        margin: 0;
        font-size: 3.15em;
    }
    .head p{
        padding: 0;
    }
    .buyers{
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: 0 auto;
    }
    .ratings{
        width: auto;
        justify-content: right;
        margin: 0 20px 0 0;
    }
    .star-bucks{
        flex-direction: row;
        max-width: 430px;
        padding: 10px 20px;
    }
    .star-bucks:nth-child(1){
        margin-left: -20%;
    }
    .star-bucks:nth-child(2){
        margin-left: -10%;
    }
    .img{
        margin-right: 20px;
    }
}

@media (min-width: 852px) and (max-width: 950px) {
    .head-ratings{
        display: flex;
        flex-direction: column !important;
        text-align: center;
    }
    .head{
        margin: 0 auto;
        text-align: center;
    }
    .star-bucks{
        max-width: 700px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        margin: 15px auto !important;
        border-radius: 5px;
        background-color: rgba(180, 174, 180, 0.2);
    }
}
@media (min-width: 501px) {
    .head h1{
        font-size: 3.15em;
    }
}
.img img:nth-child(1){
    animation-delay: 2.2s;
}
.img img:nth-child(2){
    animation-delay: 2.4s;
}
.img img:nth-child(3){
    animation-delay: 2.6s;
}
.img img:nth-child(4){
    animation-delay: 2.8s;
}
.img img:nth-child(5){
    animation-delay: 3s;
}
@keyframes bounce {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0);
    }
}